body {
    margin: auto;
    padding: auto;
    font-family: Arial, sans-serif;
    background-color:rgb(192, 195, 255);
    color: #111;
  }
  
  .backgroundmain {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .backgroundmain h1 {
    margin-top: auto  ;
    font-size: 10rem;
  }

  .backgroundmain h2 {
    font-size: 3rem;
    padding-top: 0;
  }

  .start {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35vh;
    height: 10vh;
    background:linear-gradient(to bottom, #4588c7 5%, #2a47bd 100%);
	  border-radius:5vh;
	  border:5px solid;
	  cursor:pointer;
	  font-size:3rem;
	  text-decoration:none;
    text-align: center;
    transition: all 0.5s;
  }
  .start:hover {
    transform: scale(1.1);
  }